.container-fluid {
  margin-top: 55px;
  /* border: 2px solid black; */
  width: 700px;
  height: 700px;
}

img:hover {
  cursor: pointer;
}

.Form {
  /* display: inline-flex; */
}

.card2 {
  /* border: 2px solid black; */
  display: inline-flex;
}

.card-body {
  /* border: 2px solid black; */
}

.card {
  border: none;
}

.form-control {
  border: 2px solid black;
}

form {
  /* border: 2px solid black; */
  width: 500px;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-left: 400px; */
}

.ml-1 {
  margin-left: 160px !important;
}

.Font {
  font-family: "Staatliches", cursive;
  font-size: 3.33rem;
  color: #184426;
  border: 1px solid black;
  border-radius: 12px;
}

.rounded {
  border-radius: 22px !important;
}

.container {
  width: 700px !important;
  margin-left: 6px !important;
}

@media (max-width: 576px) {
  img {
    /* border: 2px solid red; */
    width: 450px !important;
    height: 400px !important;
    margin-left: 30px;
  }
}

@media (max-width: 576px) {
  .card {
    /* border: 2px solid red; */
    width: 450px !important;
    height: 400px !important;
    margin-left: -31px !important;
  }
}

@media (max-width: 768px) {
  #style {
    /* border: 2px solid red; */
    width: 450px !important;
    height: 530px !important;
  }
}

@media (max-width: 576px) {
  .Font {
    margin-left: -73px;
    font-size: 2.77rem;
    width: 250px;
  }
}

.bnt:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.butn {
  margin-left: 220px;
  background-color: #b5b5e1;
  color: black;
  border: 1px solid black;
}

@media (max-width: 576px) {
  .butn {
    /* border: 2px solid red; */
    /* margin-left: 175px; */
  }
}

@media (max-width: 576px) {
  .container-fluid {
    /* border: 2px solid red; */
    /* border: 2px solid black; */
    margin-left: 10px;
    width: 470px;
    height: 580px;
  }
}

@media (max-width: 576px) {
  .Font {
    /* border: 2px solid red; */
    /* font-size: 6.77rem; */
    /* width: 250px; */
    /* margin-left: -30px; */
  }
}

@media (max-width: 576px) {
  .butn {
    /* border: 2px solid red; */
    /* width: 100px; */
    /* height: 90px; */
    /* font-size: 2.77rem; */
    margin-left: 175px;
    color: black;
    font-family: "Staatliches", cursive;
    background-color: #b5b5e1;
    border-radius: 10px;
  }
}

@media (min-width: 1200px) {
  form {
    margin-left: 221px;
  }
}

@media (min-width: 1200px) {
  label {
    font-size: 1.38rem;
  }
}

@media (max-width: 576px) {
  form {
    width: 470px !important;
    margin-left: -10px;
  }
}

@media (max-width: 576px) {
  .card2 {
    width: 480px !important;
  }
}

@media (max-width: 576px) {
  .form-control {
    width: 49% !important;
    margin-left: 180px;
    margin-top: -56px;
  }
}

@media (max-width: 576px) {
  label {
    margin: 25px;
    font-size: 1.3rem;
    margin-left: 87px;
  }
}

#btn {
  margin-left: 200px !important;
}

label {
  font-family: "Lobster", cursive;
}

@media (max-width: 576px) {
  .text-muted {
    color: black !important;
    margin-left: 179px;
  }
}

@media (max-width: 57px) {
  html,
  body {
    /* background-image: url("bg.png"); */
    /* background-position-y: 700px; */
  }
}
